{
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning"
    }
  },
  "AllowedHosts": "*",
  "ConnectionStrings": {
    "DefaultConnection": "Server=your-server;Port=3306;Database=your-database;User Id=your-user;Password=your-password;SSL Mode=Required;"
  }
}

